<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/users/<%=user.id%>" method="POST">
    <h2>Edit User</h2>
    <input type="text" name="name" placeholder="Add Name" value="<%=user.name%>">
    <input type="text" name="bio" placeholder="Add Bio" value="<%=user.bio%>">
    <input type="text" name="email" placeholder="Add email" value="<%=user.email%>">
    <input type="number" name="age" placeholder="Add age" value="<%=user.age%>">
    <input type="text" name="address" placeholder="Add address" value="<%=user.address%>">
    <input type="text" name="hobbies" placeholder="Add age" value="<%=user.hobbies%>">
    <button type="submit">Update User</button>
  </form>
</body>
</html>